<mat-grid-list cols="6" rowHeight="100px" >
    <mat-grid-tile  [colspan]="4" [rowspan]="5"  >
      <div>
          <graph-area></graph-area>>
      </div>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="2" [rowspan]="6"  >
      <div class="user-panel">
          <user-panel></user-panel>
      </div>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="4" [rowspan]="1"  >
      <div>
          <footer></footer>
      </div>
    </mat-grid-tile>
  
</mat-grid-list>

<!-- <mat-grid-tile-footer>Footer</mat-grid-tile-footer> -->

