<!-- <div [ngBusy]="{busy: busy, message: 'Please Wait', backdrop: true, delay: 0, minDuration: 600}"></div> -->

<ngx-loading 
[show]="loading" 
[config]="{ backdropBorderRadius: '0px',
  fullScreenBackdrop:true, 
  primaryColour:'blue',
  secondaryColour:'blue',
  tertiaryColour:'blue' }"></ngx-loading>

<mat-grid-list cols="6" rowHeight="100px" class="h-100" >
    <mat-grid-tile  [colspan]="4" [rowspan]="6" class="h-100" >
      <div class="graph-area">
          <graph-area [refreshGraph]="refreshGraph" ></graph-area>

          <div *ngIf="!hideButton" class="button-area">
            <button mat-raised-button color="primary" (click)="startSimulation()">Start Simulation</button>
        </div>

      </div>
    </mat-grid-tile>

    <mat-grid-tile  [colspan]="2" [rowspan]="6" class="h-100" >
      <div class="user-panel">
          <user-panel (updateGraph)="updateGraph()" ></user-panel>
      </div>
    </mat-grid-tile>

    <!-- <mat-grid-tile  [colspan]="4" [rowspan]="1"  >
      <div>
         <footer (onStartSimulation)="startSimulation()"></footer>
      </div>
    </mat-grid-tile> -->
  
</mat-grid-list>

<!-- <mat-grid-tile-footer>Footer</mat-grid-tile-footer> -->

