/*html {
  background: url('../../../background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

body {
  background: rgba(236, 239, 241, 0.8);
}*/

.menu {
  background: #40444f;
}

.menu-content {
  background: #4b525c;
}

.content {
  background-image: url("../../../background.jpg");
  background: rgba(236, 239, 241, 0.7);
}

#header {
  width: 80%;
}

.rightPanel, .leftPanel {
  width: 80%;
}

#baselineConsumption, #currentCurve {
  width: 100%;
}

.mat-form-field-wrapper {
  width: 100%;
}

.mat-list-item {
  color: #c6c7cb;
  font-size: 1.3em;
}

.mat-input-element {
  color: slategray;
}

.userData {
  color: #f7ffff;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1em;
}

mat-form-field.mat-form-field-underline {
  color: #c6c7cb;
}

#amountEnergy {
  display: table;
  text-align: center;
  margin: auto;
}
