.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .prosumer-tab-group {
   position: absolute;
    top:10px ;
    width: 100%;
  }
  .button-area{
    text-align: center;
  }

  .tab-info{
    padding-left: 15px;
    padding-right: 35px;
  }

  .mat-input-element {
    color:#f7ffff;
  }

