<mat-tab-group class="prosumer-tab-group">
    <mat-tab label="Producer">
        <form class="example-form">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Consumer Name" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="CNP" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Consumption" >
            </mat-form-field>
          
            <div class="button-area">
                <button type="button" mat-raised-button color="primary">Add Producer</button>
            </div>
            
          </form>
      </mat-tab>

      <mat-tab label="Consumer">
        Consumer
        </mat-tab>

      </mat-tab-group>