<ngx-loading 
[show]="loading" 
[config]="{ backdropBorderRadius: '0px',
  fullScreenBackdrop:true, 
  primaryColour:'blue',
  secondaryColour:'blue',
  tertiaryColour:'blue' }"></ngx-loading>

<mat-tab-group class="prosumer-tab-group" (selectedTabChange)="onTabClick($event)">
  
    <mat-tab label="Producer">
       
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="Producer Name"  [(ngModel)]="prod_name" required>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Address"  [(ngModel)]="prod_address"  >
            </mat-form-field>
            <mat-form-field class="example-full-width" >
              <input matInput placeholder="CNP"  [(ngModel)]="prod_cnp" required>
            </mat-form-field>

            <mat-form-field class="example-full-width">
              <mat-select placeholder="Production Datasets"  [(ngModel)]="selectedProduction"  (ngModelChange)="changeProduction($event)" required>
                <mat-option *ngFor="let production of productionOptions" [value]="production.value">
                  {{ production.viewValue }}
                </mat-option>
              </mat-select>
              <!-- <mat-error *ngIf="produtionControl.hasError('required')">Please define a production baseline</mat-error> -->
            </mat-form-field>

            <div id="producerContainer" ></div>
          
            <div class="button-area">
                <button type="button" (click)="addProducer($event)" mat-raised-button color="primary">Add Producer</button>
            </div>
            
     
          
      </mat-tab>

      <mat-tab label="Consumer">
       
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Consumer Name"  [(ngModel)]="cons_name" >
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Address" [(ngModel)]="cons_address">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="CNP" [(ngModel)]="cons_cnp" >
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-select placeholder="Consumption Datasets" [(ngModel)]="selectedConsumption"  (ngModelChange)="changeConsumption($event)">
              <mat-option *ngFor="let consumption of consumptionOptions" [value]="consumption.value">
                {{ consumption.viewValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div id="consumerContainer" ></div>
        
          <div class="button-area">
              <button type="button" (click)="addConsumer($event)" mat-raised-button color="primary">Add Consumer</button>
          </div>

        </mat-tab>

        <mat-tab *ngIf="_showCurves"  label="Curves">

          <div id="productionContainer" ></div> 
          <div id="consumptionContainer" ></div> 
          <div id="balanceContainer" ></div>        

          </mat-tab>

      </mat-tab-group>
